<div class="card mx-auto d-block" style="width: 90%; margin-top: 1.5rem;">

  <div class="card-header text-start">
    <h4>Quels sont vos centres d'intérêt</h4>
  </div>

  <div class="card-body container">

    <div *ngFor="let theme of themes;">
      <!-- <pre>{{ theme.fichierDB.id | json }}</pre> -->
      <label class="option_item p-1">
        <input type="checkbox" class="checkbox" [value]="theme.idtheme" (change)="onCheckboxChange($event)">
        <div class="option_inner fond">
          <div class="tickmark"></div>
          <div class="icon"><img [src]="'http://localhost:8080/Fichier/'+ theme.fichierDB.idfichierdb" alt=""></div>
          <div class="name">
            <p>{{ theme.nom }}</p>
          </div>
        </div>
      </label>
    </div>

  </div>

  <div class="card-footer text-muted">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-end p-1">
        <button (click)="validerTheme()" type="button" class="btn btn-primary rounded-pill">Suivez vos sujets pour
          continuer</button>
      </div>
    </div>
  </div>

</div>
