
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.container .option_item {
  display: block;
  position: relative;
}

.container .option_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.option_item .option_inner {
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 58px 40px;
  cursor: pointer;
  color: #585c68;
  display: block;
  border: 5px solid transparent;
  position: relative;
  /* background-image: url(../../assets/images/user-logo.jpg); */
  border-color: #3b5999;
}

.option_item .option_inner .icon {
  margin-bottom: 10px;
}

.option_item .option_inner .icon .fab {
  font-size: 32px;
}

.option_item .option_inner .name {
  user-select: none;
}

.option_item .checkbox:checked ~ .option_inner.fond {
  border-color: #3b5999;
  color: #3b5999;
  /* background-image: url(../../assets/images/user-logo.jpg); */
}


.option_item .option_inner .tickmark {
  position: absolute;
  top: -1px;
  left: -1px;
  border: 20px solid;
  border-color: rgb(0, 0, 0) transparent transparent rgb(0, 0, 0);
  display: none;

}

.option_item .option_inner .tickmark:before {
  content: "";
  position: absolute;
  top: -18px;
  left: -18px;
  width: 15px;
  height: 5px;
  border: 3px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);

}

.option_item .checkbox:checked ~ .option_inner .tickmark {
  display: block;

}

.option_item .option_inner.fond .tickmark {
  border-color: #3b5999 transparent transparent #3b5999;
}
