<div class="container-fluid m-0 p-0">

  <!-- ********************************************* -->
  <div class="row m-0 p-0">

    <!-- ================================================== -->
    <div class="col-md-12">
      <a (click)="fermerPopup()" class="fermer"><i class="ri-close-line"></i></a>
    </div>

    <!-- ================================================== -->
    <div class="col-md-12">
      <h5>S'inscrire</h5>
    </div>
  </div>

  <form class="row m-0 p-0" novalidate (ngSubmit)="onSubmit()" [formGroup]="inscriptionForm">

    <!-- ----------------------------------------------------------- -->
    <div class="form-group col-md-12 mt-3 px-0">

      <div class="row m-0 p-0">
        <div class="col-md-12">
          <label for="fornom">Nom</label>
        </div>

        <div class="col-md-12">
          <input formControlName="nom" [ngClass]="{'is-invalid': (inscriptionForm.get('nom')?.touched ||
                inscriptionForm.get('nom')?.dirty) &&
                !inscriptionForm.get('nom')?.valid, 'is-valid': inscriptionForm.get('nom')?.valid}" type="text"
            name="nom" class="form-control" id="fornom" aria-describedby="nomHelp"
            placeholder="Comment aimeriez-vous être appelé ?">

          <div class="invalid-feedback">
            <!-- <span *ngIf="inscriptionForm.get('nom')?.errors?.['required']">
                    nom (Obligatoire)
                </span> -->
            <span *ngIf="inscriptionForm.get('nom')!.invalid && inscriptionForm.get('nom')!.touched">
              <i class="ri-error-warning-line fs-5"></i> Le nom est requis et doit avoir entre 4 et 50 caractères.
            </span>
          </div>


        </div>
      </div>

    </div>


    <!-- ----------------------------------------------------------- -->
    <div class="form-group col-md-12 mt-3 px-0">

      <div class="row m-0 p-0">
        <div class="col-md-12">
          <label for="foremail">E-mail</label>
        </div>

        <div class="col-md-12">
          <input formControlName="email" [ngClass]="{'is-invalid': (inscriptionForm.get('email')?.touched ||
                inscriptionForm.get('email')?.dirty) &&
                !inscriptionForm.get('email')?.valid, 'is-valid': inscriptionForm.get('email')?.valid}" type="email"
            name="email" class="form-control" id="foremail" aria-describedby="emailHelp" placeholder="Votre e-mail">

          <div class="invalid-feedback">
            <!-- <span *ngIf="inscriptionForm.get('email')?.errors?.['required']">
                    nom (Obligatoire)
                </span> -->
            <span *ngIf="inscriptionForm.get('email')!.invalid && inscriptionForm.get('email')!.touched">
              <i class="ri-error-warning-line fs-5"></i> L'e-mail est requis.
            </span>
          </div>
        </div>
      </div>

    </div>


    <!-- ----------------------------------------------------------- -->
    <div class="col-md-12 mt-5 mb-3">

      <div class="row m-0 p-0">
        <hr>
        <div class="col-md-12 d-flex justify-content-end">
          <button type="submit" [disabled]="inscriptionForm.invalid"
            class="btn btn-primary rounded-pill">Suivant</button>
        </div>
      </div>

    </div>

  </form>


</div>
